github "Alamofire/Alamofire" ~> 4.0
github "ReactiveX/RxSwift" "3.0.0-beta.1"
github "RxSwiftCommunity/RxAlamofire" "master"
github "realm/realm-cocoa"
# github "bloodysnowx/SlideMenuControllerSwift"
# github "dekatotoro/SlideMenuControllerSwift"
github "tid-kijyun/Kanna" ~> 2.0.0
github "bloodysnowx/SafeArray" "master"
github "italki/PKHUD" "Swift-3.0"
# pkluz/PKHUD